* {
  background-color: rgb(31, 83, 65);
  color: white;
}
div {
  text-align: center;
}
ul {
  width: 94%;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
input {
  width: 35%;
  height: 25px;
  text-align: center;
  border-radius: 10px;
  margin-right: 20px;
  box-shadow: 1px 1px 1px rgb(47, 78, 47);
}

button {
  padding: 5px 15px 5px 15px;
  border-radius: 7px;
  font-weight: 600;
  box-shadow: 2px 1px 2px yellow;
}
